.ButtonLeft {
  float: left;
  width: 0;
  height: 0;
  margin-left: -15px;
  margin-right: 30px;
  border-top: 20px solid transparent;
  border-right: 35px solid #bdbdbd;
  border-bottom: 20px solid transparent;
  border-left: 10px solid transparent;
}

.ButtonRight {
  float: left;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 35px solid #bdbdbd;
}

.ButtonDown {
  width: 0;
  height: 0;
  margin-left: 20px;
  border-top: 30px solid #bdbdbd;
  border-right: 25px solid transparent;
  border-bottom: 30x solid transparent;
  border-left: 25px solid transparent;
}

.ButtonX {
  float: right;
  background-color: #facc2e;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  text-align: center;
  margin-top: 20px;
  margin-left: 5px;
}

.ButtonZ {
  float: right;
  background-color: #04b431;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  text-align: center;
}