.Grid {
  float: left;
  width: 30px;
  height: 30px;
  white-space: pre-wrap;
}

.GridCircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.TopGrid {
  border: 1px solid #ffffff;
}

.FieldGrid {
  border-top: 1px solid #7a7a7a;
  border-left: 1px solid #7a7a7a;
}

.RightGrid {
  border-right: 1px solid #7a7a7a;
}

.ButtomGrid {
  border-bottom: 1px solid #7a7a7a;
}

.Grid1 {
  background: #ff0000;
}

.Grid2 {
  background: #0000ff;
}

.Grid3 {
  background: #00ff00;
}

.Grid4 {
  background: #ffff00;
}